<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div>
          <input
            type="text"
            id="inNum"
            [(ngModel)]="inputNumber"
            name="inNum"
          />
        </div>
        <div>
          <label for="content">Array Content</label>
          <div>
          <span *ngFor="let item of numberArray; let i = index">{{item}}{{i < numberArray.length-1 ? ',' : ''}}</span>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button
            class="btn btn-primary"
            (click)="onAddToArray(inputNumber)"
          >
            Add to array
          </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary"
      [disabled]="numberArray.length < 1"
      (click)="onEvaluate()">
        Evaluate
      </button>
      |
      <button
        class="btn btn-danger"
        [disabled]="numberArray.length < 1"
        (click)="onClearArray()"
      >
        Clear Array
      </button>
    </div>
  </div>
  <hr />
  
  <table mat-table [dataSource]="loadedPosts" class="mat-elevation-z8">

    <!-- Input Column -->
    <ng-container matColumnDef="input">
      <th mat-header-cell *matHeaderCellDef> <h3>Input</h3> </th>
      <td mat-cell *matCellDef="let element"> {{element.input}} </td>
    </ng-container>

    <!-- Result Column -->
    <ng-container matColumnDef="result">
      <th mat-header-cell *matHeaderCellDef> <h3>Result</h3> </th>
      <td mat-cell *matCellDef="let element">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let result of element.result">
            <p>{{ result }}</p>
          </li>
        </ul> 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
